.partners__container {
    padding: 0 20px;
    margin: 50px 0 0 0;
}


.partners__title {
}

.partners {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.partner {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto auto 1fr / 1fr;
    gap: 10px;
    border: 1px solid #f3f3f3;
    padding: 10px;
    width: 300px;
}
.partners__filter{
    width: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.partners__filter h3{
    font-size: 24px;
}
.partners__categoryList{
    text-align: center;
}
.partners__categoryList li{
    padding: 15px;
}
.partners__categoryList li:hover{
    color: white;
    background-color: #8a8a8a;
}

.partner__image {
    position: relative;
    padding: 0 0 50% 0;
}
.partner__image img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.partner__bonus {
}

.partner__description {
}
.partner__discount::after{
    content: "-10%";
    position: absolute;
    background-color: #1cb803;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 75%;
    top: 10%;
}