@media (max-width: 1440px){
  .dashImage img{
    width: 50%;
  }
  .dashboard-list-group li{
    width: 150px;
  }
}

@media (max-width: 991.98px) {
  .display-none {
    display: none !important;
  }

  .Login-Register a {
    font-size: 10px;
  }
  .btn-group button {
    font-size: 13px;
  }
  .badge {
    position: absolute;
    left: 15px;
    top: -20px;
    padding: 5px;
    font-size: 7px;
  }
  .input-group {
    height: 30px;
  }
  .single-image,
  .single-image img {
    height: 400px;
  }
  .author-card-avatar img {
    margin-top: -20%;
  }
  .order-box {
    width: 50px;
    height: 50px;
    font-size: 15px;
  }
  .order-detail p {
    font-size: 12px;
  }
  .order-detail {
    padding: 20px 0;
  }
  .order-detail h5 {
    font-size: 13px;
  }
  .subtotal-order button {
    margin-bottom: 30px;
  }
  .single-product {
    margin-top: 20px;
  }
  .cd-secondary-dropdown > .has-children{
    width: 100%;
  }
  .cd-secondary-dropdown{
    overflow-y: scroll;
    height: 235px;
    width: 200px;
  }
}
@media (max-width: 768px) {
  .category-button{
    align-self: center;
  }
  .d-block{
    object-fit: cover;
    object-position: left;
    height: 210px;
  }
  .form__section{
    width: 100%;
  }
  .form input{
    font-size: 12px;
  }
  .pc-header {
    display: none !important;
  }
  .mobile-header {
    display: block;
  }
  .cart-mobile-icon i {
    font-size: 13px;
    margin-left: 10px;
  }
  .btn-group{
    margin-right: 15px;
  }
  .login__button{
    margin-right: 15px;
  }
  .btn-group button {
    font-size: 12px;
  }
  .mobile-header img {
    width: 60px;
  }
  .input-group {
    width: 100%;
    margin-top: 5px;
  }
  .form-section{
    gap: 10px;
  }
  .subscribe-head .form-section input[type="email"] {
    height: 45px;
    width: 70%;
  }
  .subscribe-head .form-section input[type="submit"] {
    height: 47px;
    padding: 0 58px;
  }
  .subscribe-head h2 {
    font-size: 25px;
  }
  .contact-Box {
    margin: 30px 0;
  }
  .contactInfo {
    padding: 20px 0;
  }
  .cart-buttons {
    margin: 40px 0;
  }
  .cart-buttons a button,
  .cart-buttons .d-flex button {
    width: 100%;
  }
  .total .sub,
  .total .total-price {
    font-size: 16px;
  }

  .single-image {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .product-name {
    font-size: 23px;
  }
  .author-card-avatar {
    display: none;
  }
  .order-detail {
    margin-top: 20px;
  }
  .mobile-top{
    display: flex;
    justify-content: space-between;
  }
  .search-adaptive{
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .btn{
    font-size: 12px;
  }
  .info{
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .search-small{
    display: block !important;
  }
  //.mobile-top{
  //  display: flex;
  //  justify-content: space-between;
  //}
  //.search-adaptive{
  //  display: none !important;
  //}
  .cart__item-name{
    text-align: center;
  }
  .cart__item{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .subscribe-head .form-section input[type="email"] {
    width: 100%;
  }
  .subscribe-head .form-section input[type="submit"] {
    width: 100%;
    padding: 0 0;
    margin-left: 0px;
  }
  .subscribe-head h2 {
    font-size: 25px;
  }
  .subscribe-section {
    padding: 70px 0 70px;
  }
  .card-name {
    width: 8%;
    margin: 0 7px;
  }
  .login-center {
    padding: 20px 0;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .center h5 {
    font-size: 17px;
    margin-top: 10px;
  }
  .center p {
    font-size: 17px;
  }
}

@media (max-width: 445px) {
  .cd-dropdown-content{
    width: 100px;
  }
  .cd-secondary-dropdown{
    width: 100px;
  }
  .cd-dropdown-content li svg{
    width: 12px;
    height: 12px;
  }
  .cd-dropdown-content li a{
    font-size: 12px;
  }
  #baseCurrency{
    display: none;
  }
  .form button{
    padding: 5px 20px;
  }
  .subscribe-head h2 {
    font-size: 20px;
  }
}

@media (max-width: 350px){
  .businessFormActivity textarea{
    width: 150px;
  }
  .businessFormType select{
    font-size: 13px;
    width: 150px;
  }
  .form-check-label{
    width: 130px;
  }
  .businessForm label{
    font-size: 14px;
  }
  .businessForm input{
    font-size: 14px;
  }
  .Login-Register{
    max-height: 40px;
  }
  .adaptive-mobile-top{
    flex-direction: column;
    align-items: flex-start !important;
  }
  .name-button{
    height: 30px;
  }
}
